<div class = "container">
	<div class = "article">
		<h1 class="title">
			<%= @article.title %>
		</h1>

		<p class='body'>
			<%= @article.text %>
		</p>

		<p class='author'>
			<strong>Author:</strong><br>
			<%= @article.user.username %>
		</p>
	</div>
	<h2>Comments</h2>

	<%= render @article.comments %> 

	<h2>Add a comment</h2>
	
	<div class="comment">
		<%= render 'comments/form' %>
	</div>

	<% if @article.user.id == session[:id] %>
		<%= link_to_if(@article.user.id == session[:id],'Edit', article_path(@article))	%>
	<% end %>
	<%= link_to 'Back', articles_path %>
</div>