<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', articles_path %>

<% if session[:id] == nil %>
	<%= form_for :user, url: '/users' do |f| %>
		<p>
			<%= f.label :username %>
			<%=	f.text_field :username %>
		</p>

		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>

		<p>
			<%= f.label :password %> 
			<%= f.password_field :password %>			
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %> 
<% end %> 

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>