<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if session[:id] != nil %>
			<ul>
				<li><%= link_to_unless_current("home", articles_path) %></li>
				<%= link_to "logout", logout_path, method: 'destroy' %>
			</ul>
		<% end %>
	</header>
<%= yield %>

</body>
</html>
