<!DOCTYPE html>
<html>
<head>
  <title>Awesome Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if session[:id] != nil %>
			<ul>
				<li><%= link_to_unless_current("main", articles_path) %></li>
				<li><%= link_to "logout", logout_path, method: 'destroy' %></li>
			</ul>
		<% end %>
		<h1>Blog!</h1>
	</header>
<%= yield %>

</body>
</html>
